@-moz-document domain("irccloud.com") {
/* AGENT_SHEET */
  * {
   border-color: #333 !important;
  }
  body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAACVBMVEUaGhohISElJSUh9lebAAAB20lEQVRIx4XWuZXDMAwE0C0SAQtggIIYoAAEU+aKOHhYojTrYP2+QfOW/5QIJOih/q8HwF/pb3EX+UPIveYcQGgEHiu9hI+ihEc5Jz5KBIlRRRaJ1JtoSAl5Hw96hLB1/up1tnIXOck5jZQy+3iU2hAOKSH1JvwxHsp+5TLF5MOl1/MQXsVs1miXc+KDbYydyMeUgpPQreZ7fWidbNhkXNJSeAhc6qHmHD8AYovunYyEACWEbyIhNeB9fRrH3hFi0bGPLuEW7xCNaohw1vAlS805nfsrTspclB/hVdoqusg53eH7FWot+wjYpOViX8KbFFKTwlnzvj65P9H/vD0/hibYBGhPwlPO8TmxRsaxsNnrUmUXpNhirlJMPr6Hqq9k5Xn/8iYQHYIuQsWFC6Z87IOxLxHphSY4SpuiU87xJnJr5axfeRd+lnMExXpEWPpuZ1v7qZdNBOjiHzDREHX5fs5Zz9p6X0vVKbKKchlSl5rv+3p//FJ/PYvoKryI8vs+2G9lzRmnEKkh+BU8yDk515jDj/HAswu7CCz6U/Mxb/PnC9N41ndpU4hUU7JGk/C9PmP/M2xZYdvBW2PObyf1IUiIzoHmHW9yTncliYs9A9tVNppdShfgQaTLMf+j3X723tLeHgAAAABJRU5ErkJggg==) !important;
  }
  input[type="checkbox"], input[type="checkbox"]:focus, input[type="radio"], input[type="radio"]:focus,
  input[type="checkbox"]:hover:active, input[type="radio"]:hover:active, input[type="checkbox"]:disabled,
  input[type="checkbox"]:hover:disabled, input[type="checkbox"]:hover:active:disabled {
    -webkit-appearance: none !important;
    background-color: #181818 !important;
    border: 1px solid #555 !important;
    color: #eee !important;
    height: 1em !important;
    width: 1em !important;
  }
  input[type=radio] {
    border-radius: 100% !important;
  }
  input[type="checkbox"]:checked {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIj48Zz48cmVjdCBoZWlnaHQ9IjUxMiIgd2lkdGg9IjUxMiIgeT0iMCIgeD0iMCIgZmlsbD0iIzAwMDAwMCIvPjxwYXRoIGQ9Im05OC43OTk5ODggMjEzbC0wLjc5OTk4OCA4OWMwIDAgMTAzIDEwMiAxMDQgMTAyYzEgMCAyMDUgLTIwMSAyMDUgLTIwMWMwIDAgMCAtOTAgMCAtOTFjLTAuNzk5OTg4IDAgLTIwNCAyMDMgLTIwNCAyMDNsLTEwNCAtMTAyeiIgZmlsbD0iI2RkZGRkZCIvPjwvZz48L3N2Zz4KCg==) !important;
    background-size: cover !important;
  }
  input[type="checkbox"]:indeterminate {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIj48Zz48cmVjdCBoZWlnaHQ9IjUxMiIgd2lkdGg9IjUxMiIgeT0iMCIgeD0iMCIgZmlsbD0iIzAwMDAwMCIvPjxyZWN0IGhlaWdodD0iMTI4IiB3aWR0aD0iMzg0IiB5PSIxOTIiIHg9IjY0IiBmaWxsPSIjZGRkZGRkIi8+PC9nPjwvc3ZnPg==) !important;
    background-size: cover !important;
  }
  input[type=radio]:checked {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIj48Zz48cmVjdCBoZWlnaHQ9IjUxMiIgd2lkdGg9IjUxMiIgeT0iMCIgeD0iMCIgZmlsbD0iIzAwMDAwMCIvPjxjaXJjbGUgY3g9IjI1NiIgY3k9IjI1NiIgcj0iNjQiIGZpbGw9IiNkZGRkZGQiLz48L2c+PC9zdmc+) !important;
    background-size: cover !important;
  }
  canvas.clock, #channelContextMenu ul.actions li.notifyAll a, #channelContextMenu ul.actions li.showMembers a,
  .bufferContextMenu ul.actions li a {
    filter: url("data:image/svg+xml;utf8, <svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'i\'><feColorMatrix color-interpolation-filters=\'srgb\' values=\'-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0\'/></filter></svg>#i");
    -webkit-filter: invert(100%) !important;
  }
  .gistwrap html {
    overflow: hidden !important;
  }
  button.action a, button.action span, .inputInfo, button a, button span, div.dateWrapper table, div.log div.dateChange p {
    box-shadow: none !important;
  }
  div.log div.gistwrap h1.gistwraptitle, .gist .gist-meta {
    text-shadow: none !important;
  }
  .accountContainer, #memberContextMenu {
    box-shadow: 0 0 20px #555 !important;
  }
  div.log div.hover span.date {
    color: #fff !important;
  }
  div#timeContainer, div.log span.date, .gist .gist-meta, div.log div.gistwrap h1.gistwraptitle, body:not(.nick-colors) a.author {
    color: #666 !important;
  }
  .gist .gist-meta a, div.log div.gistwrap h1.gistwraptitle a {
    color: #999 !important;
  }
  .gist .gist-meta a, div.log div.gistwrap h1.gistwraptitle a {
    font-weight: normal !important;
  }
  div.log div.chat, div.log div.error, div.log div.groupedLines, div.log div.me, div.log div.notice, div.log div.status,
  div.log div.table, div.log div.warning, div.buffermain, button a, button span, div.dateWrapper table, div.log div.dateChange p,
  #channelContextMenu.active.mod ul.actions li a.topic, #memberContextMenu ul.actions li a,
  td.statuscell div.status h2.bufferHeading span.label, .gist .line-pre, #memberContextMenu div.userContext, .contextMenu a,
  .gist, .gist .highlight {
    color: #ccc !important;
  }
  #buffers h2.active.unread, #buffers ul.buffers .active.unread a.buffer {
    border-left-color: #16a !important;
  }
  #buffers .active a.buffer, #footer a, #headercell a, #sidebar #limits a, h1#title a, div#searchResults div.searchResultDate a,
  a.gist, a.link, a.reconnect, span.reconnect, #buffers a.buffer, #buffers p.archiveToggle a, #buffers p.join a, .gist a,
  div.log div.chat a:not(.c0):not(.c1):not(.c2):not(.c3):not(.c4):not(.c5):not(.c6):not(.c7):not(.c8):not(.c9):not(.c10):not(.c11):not(.c12):not(.c13) {
    color: #16a !important;
  }
  a, div.log div.chat a, div.log div.error a, div.log div.groupedLines a, div.log div.me a, div.log div.notice a, div.log div.status a,
  div.log div.table a, div.log div.warning a, #footer a, #headercell a, #sidebar #limits a, h1#title a {
    color: #16a;
  }
  a:hover, #footer a:hover, #headercell a:hover, #sidebar #limits a:hover, h1#title a:hover,
  ul.memberList li.members h2 {
    color: #38c !important;
  }
  ul.memberList li.members h2 span.memberCount {
    color: #5af !important;
  }
  .bufferContextMenu.active ul.actions li a {
    color: #333 !important;
  }
  .bufferContextMenu.active ul.actions li a:hover {
    background: #ccc !important;
  }
  #buffers .active.selected a.buffer, #buffers .active.selected a.buffer:hover, .extras span.extrasBar,
  #buffers .selected a.buffer, #buffers .selected a.buffer:hover {
    background: #16a !important;
    color: #fff !important;
  }
  .extras span.extrasBar:hover {
    background: #18d !important;
  }
  input, textarea, body, ul.memberList a, #statusActions b, #statusActions strong, .inputInfo span.item a,
  #buffers p.archiveToggle a:hover, #buffers p.openArchiveToggle a, #buffers p.openArchiveToggle a:hover, .bufferContextMenu,
  a.author:not(.c0):not(.c1):not(.c2):not(.c3):not(.c4):not(.c5):not(.c6):not(.c7):not(.c8):not(.c9):not(.c10):not(.c11):not(.c12):not(.c13),
  a.nick:not(.c0):not(.c1):not(.c2):not(.c3):not(.c4):not(.c5):not(.c6):not(.c7):not(.c8):not(.c9):not(.c10):not(.c11):not(.c12):not(.c13) {
    color: #ddd !important;
  }
  div.log div.bottomSeen span, div.log div.focusSeen span, div.log div.lastSeen span.text, div.paste.nocode pre.body span {
    color: #aaa !important;
  }
  #statusActions, .inputInfo span.hint, div.log span.me_prefix {
    color: #555 !important;
  }
  #buffers li.connection, div.log div.notice, div.memberwrapper, ul.memberList li.ops h2, ul.memberList li.ops ul, div.log div.status,
  .accountContainer, .gist .highlight, ul.memberList li.voiced h2, ul.memberList li.voiced ul, div.paste, div.paste pre.body ol li,
  .gist .gist-file .gist-data, .gist .markdown-body .highlight pre, .gist .markdown-body pre, .mainContainer {
    background: #181818 !important;
  }
  .gist .markdown-body .highlight pre, .gist .markdown-body pre {
    background: #222 !important;
    border: 1px solid #333 !important;
  }
  div.log div.row.highlight {
    background: #321 !important;
  }
  div.log div.self, .connectionStatus.disconnect a, .connectionStatus.edit a, .connectionStatus.reconnect a, .connectionStatus.upgrade a,
  #pasteSidebar {
    background: #123 !important;
  }
  div.buffermain, .gist .line-numbers {
    background: #141414 !important;
  }
  .bufferHead, div.nickinputwrapper, button a, button span, div.dateWrapper table, div.log div.dateChange p,
 #buffers p.openArchiveToggle a, .bufferContextMenu, div.log div.gistwrap h1.gistwraptitle, .gist .gist-meta,
 #memberContextMenu div.userContext, .contextMenu, div.paste h1, .inputInfo {
    background: #222 !important;
  }
  button:hover span, button:hover a, #buffers h2 a.buffer, #buffers a.buffer:hover, #buffers p.openArchiveToggle a:hover,
  #channelContextMenu.active.mod ul.actions li a.topic:hover, #channelContextMenu.active.mod ul.actions li a.topic:hover,
  #memberContextMenu ul.actions li a:hover, .bufferContextMenu ul.actions li a.delete:hover, .bufferContextMenu ul.actions li a.export:hover,
  .bufferContextMenu ul.actions li a.ignores:hover, .bufferContextMenu ul.actions li a.images:hover,
  .bufferContextMenu ul.actions li a.joinpart:hover, .bufferContextMenu ul.actions li a.joinpartcollapse:hover,
  .bufferContextMenu ul.actions li a.notifyAll:hover, .bufferContextMenu ul.actions li a.pastes:hover,
  .bufferContextMenu ul.actions li a.tweets:hover, .bufferContextMenu ul.actions li a.unread:hover {
     background: #333 !important;
  }
  input, textarea, td.nickcell, td.inputcell {
    background: #111 !important;
  }
  div.log div.bottomSeen span, div.log div.focusSeen span, div.log div.lastSeen span.text {
    background: transparent !important;
  }
  /* nick colors */
  .nick-colors div.log div.row span a.c0, .nick-colors div.log div.row span a.c0:hover,
  .nick-colors div.log div.row span a.hover.c0, .nick-colors div.log div.row span a.hover.c0:hover,
  .nick-colors ul.memberList li a.c0:hover, .nick-colors ul.memberList li.hover a.c0 {
    color: rgb(255,64,64) !important;
  }
  .nick-colors div.log div.row span a.c1, .nick-colors div.log div.row span a.c1:hover,
  .nick-colors div.log div.row span a.hover.c1, .nick-colors div.log div.row span a.hover.c1:hover,
  .nick-colors ul.memberList li a.c1:hover, .nick-colors ul.memberList li.hover a.c1 {
    color: rgb(255,245,64) !important;
  }
  .nick-colors div.log div.row span a.c2, .nick-colors div.log div.row span a.c2:hover,
  .nick-colors div.log div.row span a.hover.c2, .nick-colors div.log div.row span a.hover.c2:hover,
  .nick-colors ul.memberList li a.c2:hover, .nick-colors ul.memberList li.hover a.c2 {
    color: rgb(64,255,226) !important;
  }
  .nick-colors div.log div.row span a.c3, .nick-colors div.log div.row span a.c3:hover,
  .nick-colors div.log div.row span a.hover.c3, .nick-colors div.log div.row span a.hover.c3:hover,
  .nick-colors ul.memberList li a.c3:hover, .nick-colors ul.memberList li.hover a.c3 {
    color: rgb(64,102,255) !important;
  }
  .nick-colors div.log div.row span a.c4, .nick-colors div.log div.row span a.c4:hover,
  .nick-colors div.log div.row span a.hover.c4, .nick-colors div.log div.row span a.hover.c4:hover,
  .nick-colors ul.memberList li a.c4:hover, .nick-colors ul.memberList li.hover a.c4 {
    color: rgb(255,64,182) !important;
  }
  .nick-colors div.log div.row span a.c5, .nick-colors div.log div.row span a.c5:hover,
  .nick-colors div.log div.row span a.hover.c5, .nick-colors div.log div.row span a.hover.c5:hover,
  .nick-colors ul.memberList li a.c5:hover, .nick-colors ul.memberList li.hover a.c5 {
    color: rgb(255,124,64) !important;
  }
  .nick-colors div.log div.row span a.c6, .nick-colors div.log div.row span a.c6:hover,
  .nick-colors div.log div.row span a.hover.c6, .nick-colors div.log div.row span a.hover.c6:hover,
  .nick-colors ul.memberList li a.c6:hover, .nick-colors ul.memberList li.hover a.c6 {
    color: rgb(143,255,64) !important;
  }
  .nick-colors div.log div.row span a.c7, .nick-colors div.log div.row span a.c7:hover,
  .nick-colors div.log div.row span a.hover.c7, .nick-colors div.log div.row span a.hover.c7:hover,
  .nick-colors ul.memberList li a.c7:hover, .nick-colors ul.memberList li.hover a.c7 {
    color: rgb(64,223,255) !important;
  }
  .nick-colors div.log div.row span a.c8, .nick-colors div.log div.row span a.c8:hover,
  .nick-colors div.log div.row span a.hover.c8, .nick-colors div.log div.row span a.hover.c8:hover,
  .nick-colors ul.memberList li a.c8:hover, .nick-colors ul.memberList li.hover a.c8 {
    color: rgb(86,64,255) !important;
  }
  .nick-colors div.log div.row span a.c9, .nick-colors div.log div.row span a.c9:hover,
  .nick-colors div.log div.row span a.hover.c9, .nick-colors div.log div.row span a.hover.c9:hover,
  .nick-colors ul.memberList li a.c9:hover, .nick-colors ul.memberList li.hover a.c9 {
    color: rgb(255,64,121) !important;
  }
  .nick-colors div.log div.row span a.c10, .nick-colors div.log div.row span a.c10:hover,
  .nick-colors div.log div.row span a.hover.c10, .nick-colors div.log div.row span a.hover.c10:hover,
  .nick-colors ul.memberList li a.c10:hover, .nick-colors ul.memberList li.hover a.c10 {
    color: rgb(255,185,64) !important;
  }
  .nick-colors div.log div.row span a.c11, .nick-colors div.log div.row span a.c11:hover,
  .nick-colors div.log div.row span a.hover.c11, .nick-colors div.log div.row span a.hover.c11:hover,
  .nick-colors ul.memberList li a.c11:hover, .nick-colors ul.memberList li.hover a.c11 {
    color: rgb(64,255,166) !important;
  }
  .nick-colors div.log div.row span a.c12, .nick-colors div.log div.row span a.c12:hover,
  .nick-colors div.log div.row span a.hover.c12, .nick-colors div.log div.row span a.hover.c12:hover,
  .nick-colors ul.memberList li a.c12:hover, .nick-colors ul.memberList li.hover a.c12 {
    color: rgb(64,163,255) !important;
  }
  .nick-colors div.log div.row span a.c13, .nick-colors div.log div.row span a.c13:hover,
  .nick-colors div.log div.row span a.hover.c13, .nick-colors div.log div.row span a.hover.c13:hover,
  .nick-colors ul.memberList li a.c13:hover, .nick-colors ul.memberList li.hover a.c13 {
    color: rgb(207,64,255) !important;
  }
  /* syntax - inline gists */
  .pl-c { color: #5F5A60 !important; font-style: italic !important; } /* comment */
  .pl-c1 { color: #CF6A4C !important; } /* constant */
  .pl-cce { color: #CF6A4C !important; } /* constant.character.escape */
  .pl-cn { color: #CF6A4C !important; } /* constant.numeric */
  .pl-coc { color: #CF6A4C !important; } /* constant.other.color */
  .pl-cos { color: #8F9D6A !important; } /* constant.other.symbol */
  .pl-e { color: #AC885B !important; } /* entity */
  .pl-ef { color: #AC885B !important; } /* entity.function */
  .pl-en { color: #AC885B !important; } /* entity.name */
  .pl-enc { color: #CF6A4C !important; } /* entity.name.class */
  .pl-enf { color: #AC885B !important; } /* entity.name.function */
  .pl-enm { color: #AC885B !important; } /* entity.name.method-name */
  .pl-ens { color: #CF6A4C !important; } /* entity.name.section */
  .pl-ent { color: #CDA869 !important; } /* entity.name.tag */
  .pl-entc { color: #AC885B !important; } /* entity.name.type.class */
  .pl-enti { color: #AC885B !important; font-weight: bold !important; } /* entity.name.type.instance */
  .pl-entm { color: #7587A6 !important; } /* entity.name.type.module */
  .pl-eoa { color: #CDA869 !important; } /* entity.other.attribute-name */
  .pl-eoac { color: #7587A6 !important; } /* entity.other.attribute-name.class */
  .pl-eoac .pl-pde { color: #7587A6 !important; } /* punctuation.definition.entity */
  .pl-eoai { color: #CDA869 !important; } /* entity.other.attribute-name.id */
  .pl-eoai .pl-pde { color: #CDA869 !important; } /* punctuation.definition.entity */
  .pl-eoi { color: #AC885B !important; } /* entity.other.inherited-class */
  .pl-k { color: #CDA869 !important; } /* keyword */
  .pl-ko { color: #CDA869 !important; } /* keyword.operator */
  .pl-kolp { color: #CDA869 !important; } /* keyword.operator.logical.python */
  .pl-kos { color: #CF6A4C !important; } /* keyword.other.special-method */
  .pl-kou { color: #CF6A4C !important; } /* keyword.other.unit */
  .pl-mai .pl-sf { color: #7587A6 !important; } /* support.function */
  .pl-mb { color: #8F9D6A !important; font-weight: bold !important; } /* markup.bold */
  .pl-mc { color: #CDA869 !important; } /* markup.changed */
  .pl-mh { color: #CF6A4C !important; font-weight: normal !important; } /* markup.heading */
  .pl-mh .pl-pdh { color: #CF6A4C !important; } /* markup.heading punctuation.definition.heading */
  .pl-mi { color: #CDA869 !important; font-style: italic !important; } /* markup.italic */
  .pl-ml { color: #8F9D6A !important; } /* markup.list */
  .pl-mm { color: #7587A6 !important; } /* meta.module-reference */
  .pl-mp { color: #C5AF75 !important; } /* meta.property-name */
  .pl-mp1 .pl-sf { color: #DAD085 !important; } /* meta.property-value support.function */
  .pl-mq { color: #CF6A4C !important; } /* markup.quote */
  .pl-mr { color: #CDA869 !important; } /* meta.require */
  .pl-ms { color: #CDA869 !important; } /* meta.selector */
  .pl-pdb { color: #8F9D6A !important; font-weight: bold !important; } /* punctuation.definition.bold */
  .pl-pdc { color: #5F5A60 !important; font-style: italic !important; } /* punctuation.definition.comment */
  .pl-pdc1 { color: #CF6A4C !important; } /* punctuation.definition.constant */
  .pl-pde { color: #CF6A4C !important; } /* punctuation.definition.entity */
  .pl-pdi { color: #CDA869 !important; font-style: italic !important; } /* punctuation.definition.italic */
  .pl-pds { color: #8F9D6A !important; } /* punctuation.definition.string */
  .pl-pdv { color: #7587A6 !important; } /* punctuation.definition.variable */
  .pl-pse { color: #CF6A4C !important; } /* punctuation.section.embedded */
  .pl-pse .pl-s2 { color: #CF6A4C !important; } /* punctuation.section.embedded source */
  .pl-s { color: #F9EE98 !important; } /* storage */
  .pl-s1 { color: #8F9D6A !important; } /* string */
  .pl-s2 { color: #ddd !important; } /* source */
  .pl-mp .pl-s3 { color: #CDA869 !important; } /* support */
  .pl-s3 { color: #DAD085 !important; } /* support */
  .pl-sc { color: #DAD085 !important; } /* support.class */
  .pl-scp { color: #CF6A4C !important; } /* support.constant.property-value */
  .pl-sf { color: #DAD085 !important; } /* support.function */
  .pl-smc { color: #AC885B !important; } /* storage.modifier.c */
  .pl-smi { color: #ddd !important; } /* storage.modifier.import */
  .pl-smp { color: #ddd !important; } /* storage.modifier.package */
  .pl-sok { color: #CDA869 !important; } /* support.other.keyword */
  .pl-sol { color: #8F9D6A !important; } /* string.other.link */
  .pl-som { color: #7587A6 !important; } /* support.other.module */
  .pl-sr { color: #7587A6 !important; } /* string.regexp */
  .pl-sra { color: #CDA869 !important; } /* string.regexp string.regexp.arbitrary-repitition */
  .pl-src { color: #CDA869 !important; } /* string.regexp.character-class */
  .pl-sre { color: #CDA869 !important; } /* string.regexp source.ruby.embedded */
  .pl-st { color: #CDA869 !important; } /* support.type */
  .pl-stj { color: #7587A6 !important; } /* storage.type.java */
  .pl-stp { color: #9B859D !important; } /* support.type.property-name */
  .pl-sv { color: #9B859D !important; } /* support.variable */
  .pl-v { color: #9B859D !important; } /* variable */
  .pl-vi { color: #CF6A4C !important; } /* variable.interpolation */
  .pl-vo { color: #AC885B !important; } /* */
  .pl-vpf { color: #7587A6 !important; } /* variable.parameter.function */
  /* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
  .pl-mi1 { color: #55A532 !important; background: #020 !important; } /* markup.inserted */
  .pl-mdht { color: #55A532 !important; background: #020 !important; } /* meta.diff.header.to-file */
  .pl-md { color: #BD2C00 !important; background: #200 !important; } /* markup.deleted */
  .pl-mdhf { color: #BD2C00 !important; background: #200 !important; } /* meta.diff.header.from-file */
  .pl-mdr { color: #CF6A4C !important; font-weight: normal !important;} /* meta.diff.range */
  .pl-mdh { color: #7587A6 !important; font-weight: normal !important;} /* meta.diff.header */
  .pl-mdi { color: #7587A6 !important; font-weight: normal !important;} /* meta.diff.index */
  /* TODO: Fix unstyled classes below */
  .pl-ib { background-color: #f93 !important; } /* invalid.broken */
  .pl-id { background-color: #a31515 !important; color: #fff !important; } /* invalid.deprecated */
  .pl-ii { background-color: #df5000 !important; color: #fff !important; } /* invalid.illegal */
  .pl-iu { background-color: #b4b7b4 !important; } /* invalid.unimplemented */
  .pl-mo { color: #969896 !important; } /* meta.output */
  .pl-mri { color: #008080 !important; } /* markup.raw.inline */
  .pl-ms1 { background-color: #f5f5f5 !important; } /* meta.separator */
  .pl-va { color: #008080 !important; } /* variable.assignment */
  .pl-vpu { color: #008080 !important; } /* variable.parameter.url */
  .pl-entl { color: #ddd !important; } /* entity.name.tag.label */
}